<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foodiffin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/cloudicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/cloudicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Foodiffin"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.OrderAcknowledge"
            android:exported="false" />
        <activity
            android:name=".activities.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".activities.FoodDetails"
            android:exported="false" />
        <activity
            android:name=".HomepageNavigationActivity"
            android:exported="true"
            android:label="@string/title_activity_homepage_navigation"
            android:theme="@style/Theme.Foodiffin.NoActionBar" />
        <activity
            android:name=".activities.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.OrderFood" />
        <activity android:name=".activities.SignUpActivity" />
        <activity android:name=".activities.LogInActivity" />
    </application>

</manifest>